body {
    background: #fcefa1;
}

div p {
    padding-left: 10%;
    font-family: Verdana, Arial, sans-serif;
    font-size: 105%;
}

img {
    width: 10%;
}

.profileImg{
    width: 145px;
    border-radius: 50%;
}
.adding {
    padding-top: auto;
    float: right;
    border-radius: 50%;
}

.table{
    height: 50%;
}
#certification{
    margin-bottom: 10%;
}
#website{
    margin-bottom: 10%;
}

div.infoTable {
    text-align: left;
    vertical-align: top;
}
.divTable.infoTable .divTableCell, .divTable.infoTable .divTableHead {
    padding: 3px 2px;
}
.infoTable .tableFootStyle {
    font-size: 14px;
}
.infoTable .tableFootStyle .links {
    text-align: right;
}
.infoTable .tableFootStyle .links a{
    display: inline-block;
    padding: 2px 8px;
    border-radius: 5px;
}
.infoTable.outerTableFooter {
    border-top: none;
}
.infoTable.outerTableFooter .tableFootStyle {
    padding: 3px 5px;
}

.divTable{ display: table; }
.divTableRow { display: table-row;}
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead {display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}
