body {
    background: #fcefa1;
}

div p {
    padding-left: 10%;
    font-family: Verdana, Arial, sans-serif;
    font-size: 105%;
}

img {
    width: 10%;
}

.profileImg{
    width: 145px;
    border-radius: 50%;
}
.adding {
    padding-top: auto;
    float: right;
    border-radius: 50%;
}

.table{
    height: 50%;
}



