<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp-Project" version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    
	<display-name>WebApplication Class Project</display-name>
	<description>WebApplication Class Project</description>

  	<servlet>
		<servlet-name>NavServlet</servlet-name>
		<servlet-class>project.servlet.NavServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>CreateUserServlet</servlet-name>
		<servlet-class>project.servlet.CreateUserServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UpdateUserServlet</servlet-name>
		<servlet-class>project.servlet.UpdateUserServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UpdateUserPhotoProfileServlet</servlet-name>
		<servlet-class>project.servlet.UpdateUserPhotoProfileServlet</servlet-class>
	</servlet> 

	<servlet>
		<servlet-name>CreateAnswerServlet</servlet-name>
		<servlet-class>project.servlet.CreateAnswerServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>CreateQuestionServlet</servlet-name>
		<servlet-class>project.servlet.CreateQuestionServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>RestResolverServlet</servlet-name>
		<servlet-class>project.servlet.RestResolverServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>project.servlet.LoginServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>project.servlet.LogoutServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ShowQuestionsServlet</servlet-name>
		<servlet-class>project.servlet.ShowQuestionsServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ShowQuestionUserServlet</servlet-name>
		<servlet-class>project.servlet.ShowQuestionUserServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UpdateQuestionServlet</servlet-name>
		<servlet-class>project.servlet.UpdateQuestionServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>NavServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CreateUserServlet</servlet-name>
		<url-pattern>/create-user</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UpdateUserServlet</servlet-name>
		<url-pattern>/update-user</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UpdateUserPhotoProfileServlet</servlet-name>
		<url-pattern>/update-user-pic</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CreateAnswerServlet</servlet-name>
		<url-pattern>/create-answer</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CreateQuestionServlet</servlet-name>
		<url-pattern>/create-question</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>RestResolverServlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ShowQuestionsServlet</servlet-name>
		<url-pattern>/show-questions</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ShowQuestionUserServlet</servlet-name>
		<url-pattern>/show-user-questions</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UpdateQuestionServlet</servlet-name>
		<url-pattern>/update-question</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.js</url-pattern>
	</servlet-mapping>


	<resource-ref>
      <description>Connection pool to the database</description>
      <res-ref-name>jdbc/lrgroup-webapp</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  	</resource-ref>
</web-app>
